# API Server
fastapi
uvicorn[standard]
pydantic[email]
ujson
email-validator
python-multipart
fastapi_mail

# JWT & Auth
fastapi-users[mongodb]

# Database
motor
dnspython

# Development
pip-tools
black
flake8
